<div class="portlet portlet-default">
    <!--div class="portlet-heading">
        <div class="portlet-title">
            <h4><i class="fa fa-circle text-green"></i> ${user} </h4>
        </div>
        <div class="clearfix"></div>
    </div-->
    <div id="chat" class="panel-collapse collapse in">
        <div style="height:75%">
            <div class="col-lg-12">
                <p class="text-center text-muted small">${time}</p>
            </div>
            <div class="portlet-body chat-widget" style="overflow-y: auto; width: auto;">
            </div>
        </div>
        <div class="portlet-footer">

        </div>
    </div>
</div>