<div class="mainscreenbody">
    <div class="mainscreensheet " style="transition-property: left; left: 0%; transition-duration: 0.4s; transform: translate(0px, 0px);">
        <div class="bodyformgraynewhome">
            <div class="form-gray" style="position: absolute; left: 0px; right: 0px; top: 0px;">
                <div class=" field-item field-item-1">
                    <div class="field-label-box field-label-box-1">
                        <div class="field-label field-label-1">Codice Cliente</div>
                    </div>
                    <div class="field-box field-box-1"><input type="number" pattern="[0-9]*" maxlength="8" class="field field-1 numbernumericgrefix" placeholder="es. 12345678"></div>
                </div>
                <div class=" field-item field-item-2">
                    <div class="field-label-box field-label-box-2">
                        <div class="field-label field-label-2">PIN</div>
                    </div>
                    <div class="field-box field-box-2"><input id="ibp" type="number" style="-webkit-text-security:disc;text-security:square;" pattern="[0-9]*" maxlength="4" class="field field-2" placeholder="Inserisci il codice di 4 cifre"></div>
                </div>
                <div class="thirdbox field-item field-item-3">
                    <div class="field-label-box field-label-box-3">
                        <div class="field-label field-label-3">Data di nascita</div>
                    </div>
                    <div class="field-box field-box-3"><input id="giorno" type="number" pattern="[0-9]*" maxlength="2" class="field field-3 numbernumericgrefix" placeholder="Giorno"></div>
                </div>
                <div class="thirdbox thirdbox-center field-item field-item-4">
                    <div class="field-label-box field-label-box-4">
                        <div class="field-label field-label-4">&nbsp;</div>
                    </div>
                    <div class="field-box field-box-4"><input id="mese" type="number" pattern="[0-9]*" maxlength="2" class="field field-4 numbernumericgrefix" placeholder="Mese"></div>
                </div>
                <div class="thirdbox thirdbox-right field-item field-item-5">
                    <div class="field-label-box field-label-box-5">
                        <div class="field-label field-label-5">&nbsp;</div>
                    </div>
                    <div class="field-box field-box-5"><input id="anno" type="number" pattern="[0-9]*" maxlength="4" class="field field-5 numbernumericgrefix" placeholder="Anno"></div>
                </div>
                <div class="thirdbox-spacer field-item field-item-6">
                    <div class="field-box field-box-6">
                        <div class="title title-6"></div>
                    </div>
                </div>
                <!--<div class="fast-login-box field-item field-item-7">
                    <div class="field-label-box field-label-box-7">
                        <div class="field-label field-label-7"></div>
                    </div>
                    <div class="field-box field-box-7"><span><input type="checkbox" class="field field-7" id="field-7"><label class="labelfor labelfor-field-7"><span class="labelfor-first-line">Attiva la modalità fast-login</span>
                        <a href="#" class="v2-icon v2-icon-help float-right help-button-fast-login" onclick="SellaRenderer.modal.alert(&quot;Selezionando la modalità di accesso fast-login potrai accedere al tuo conto in modo sicuro e ancora più rapido inserendo solo il codice PIN.</br></br>Per attivare questa modalità è necessario l'inserimento del Codice Token o della tua password.&quot;,&quot;Modalità di accesso fast-login&quot;);"></a>
                        </label>
                        </span>
                    </div>
                </div>-->
                <div class="thirdbox-spacer field-item field-item-8">
                    <div class="field-box field-box-8">
                        <div class="title title-8"></div>
                    </div>
                </div>
                <div class="button field-item field-item-9" onclick="ciaoSella.loadLoginDobSubmit()">
                    <div class="field-label-box field-label-box-9">
                        <div class="field-label field-label-9">ACCEDI</div>
                    </div>
                    <div class="field-box field-box-9"></div>
                </div>
            </div>
        </div>
    </div>
</div>