<div class="modal-outer">
    <div class="modal-middle">
        <div class="modal modal-basic animated bounceIn">
            <div class="header">@pritisella.it</div>
            <div class="content">
                <div>Inserisci il codice
                    <form class="hiddenformsubmit"><input id="otp" style="-webkit-text-security:disc;text-security:square;" pattern="[0-9]*" type="number" class="longbox" placeholder="Codice"></form>
                </div>
            </div>
            <div class="close"><span class="button button-blue" onclick="cartalisFrontEnd.removeModel()">ANNULLA</span><span class="button button-blue" onclick="ciaoSella.otpConfirm()">OK</span></div>
        </div>
    </div>
</div>