<div class="modal-outer">
    <div class="modal-middle">
        <div class="modal modal-basic animated bounceIn">
            <div class="header">Password</div>
            <div class="content">
                <div>
                    <div>Inserisci i caratteri ${char1} e ${char2} della tua password</div><input maxlength="1" id="pwdChar1" type="password" class="shortbox"><input maxlength="1" id="pwdChar2" type="password" class="shortbox"></div>
            </div>
            <div class="close"><span class="button button-blue" onclick="ciaoSellaTemplates.removeModel()">ANNULLA</span><span class="button button-blue" onclick="ciaoSella.pwdConfirm()">OK</span></div>
        </div>
    </div>
</div>